//- This is how we extend a template using the 'extends' keyword
extends ../../../templates/master.pug
   
//- This is how we insert dynamic content to extended templates
block content
   h1.title CURRUSis!//it is the latin word for cars - meaning cars information system
   